
span#border-top {
    display: block;
    margin: 1em auto auto auto;
    width: 85%;
    border-top: 2px solid #a6a6a6;
    max-width: 800px;
}

.extra-menu-info {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 1.5em 0.5em 0.5em 0.5em;
    font-family: "Source Sans Pro",sans-serif;
    margin: auto;
    max-width: 600px;

    .extra-menu-item {
        display: flex;
        padding: 1em 3em 0em 3em;

        p {
          font-weight: 400;

            &:first-child {
            font-weight: 700;
            width: 70%;
            }

            &:nth-child(2) {
                font-weight: 700;
                width: 30%;
                text-align: right;
                }
        }
    }

    .extra-info {
        text-align: center;
        font-size: 110%;
        margin-top: 1rem;

        p#text-info{
            margin: 1em 0em 2.5em 0em
        }
    }
}