.menu-section {
    padding: 50px 0 0 0;
    background-color: #ededed;

    .menu-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .main-menu {
            color: black;

            .menu-items {
                color:black;
                padding: 0.5em;

                .burger {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;

                    p {
                        margin: 0 auto 0 0;
                        padding: 0.8em;
                        font-family: "Source Sans Pro",sans-serif;
                        font-weight: 400;
                        width:27.5vw;

                        &:first-child {
                            font-weight: 700;
                            text-align: center;
                            padding: 0.8em 0em 0 0;
                            width: 28%;
                            font-size: 115%;
                        }

                        &:nth-child(2){
                            font-weight: 400;
                            width: 60vw;
                            padding: 0.8em 0em 1em 0.2em;
                            width: 60%;
                            font-size: 95%;
                        }

                        
                        &:nth-child(3){
                            font-weight: 700;
                            width: 13.5vw;
                            padding: 0.8em 0em 0 0.2em;
                            width: 12%;
                            font-size: 100%;
                        }
                    }
                }
            }
        }
    }
}