
    .mobile-header {
        top: -100vh;
        opacity: 0;
    }

    .menu-open {
        position: fixed;
        left: 0;
        z-index: 9998;
        display: block;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 0!important;
        transition: .4s ease-in-out;
        opacity: 1;
        background-color: #a41833;
  }

  .menu-closed {
    top: -100vh;
    opacity: 0;
    position: fixed;
    left: 0;
    z-index: 9998;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0!important;
    transition: .4s ease-in-out;
    background-color: #a41833;
  }

  .nav-mobile {
    width: 100%;

    ul#nav-items-list {
      height: 50vh;
      margin-top: 70px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: none;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 150%;
      font-weight: 700;
      color: white;
      text-transform: uppercase;

      li {
        margin: 2rem auto;
        list-style: none;

        a {
          transition: 0.3s ease-in-out;
        }

        a.english {
          animation: mymove3 1s;
        }

        a.polish {
          animation: mymove4 1s;
        }

        @keyframes mymove3 {
          0% {transform: translateX(0%); opacity: 0}
          50% {transform: translateX(-100%)}
          100% {transform: translateX(0%); opacity: 1}
        }

        @keyframes mymove4 {
          0% {transform: translateX(0%); opacity: 0}
          50% {transform: translateX(-100%)}
          100% {transform: translateX(0%); opacity: 1}
        }
      }
    }

    .nav-sub {
      width: 100%;
      display: flex;
      height: 10vh;

      ul#nav-sub-list {
      height: 20vh;
      margin: auto;
      display: flex;
      flex-flow: row;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 120%;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      }

      li {
        padding: 0.7rem;
        list-style: none;

        .lang-clicked:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff;
        }
      }
    }

    #social-media-icons {
      display: flex;
      flex-flow: column;
      justify-content: center;

      a {
        margin: 0 auto;
      }

      svg {
        margin-bottom: 1rem;
        font-size: 250%;
        fill: white;
        margin: 0.5em auto;

      span {
        width: 7%;
      }
      }
    }
  }

